header {
  padding: 20px 90px;
}

header > div {
  display: inline-block;
  width: 50%;
}

header > div:first-child {
  font-weight: 800;
  text-align: left;
}

header > div:last-child {
  font-weight: 600;
  text-align: right;
}

.darkmode header {
  background-color: hsl(209, 23%, 22%);
}

.lightmode header {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid rgb(221, 221, 223);
}

@media only screen and (max-width: 400px) {
  header {
    padding: 20px 25px;
  }
}
