@import url("https://fonts.google.com/specimen/Nunito+Sans");

body {
  margin: 0;
  font-family: "Nunito Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.darkmode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.darkmode header {
  background-color: hsl(209, 23%, 22%);
}

.darkmode input {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: none;
}

.darkmode input::placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 1;
}

.lightmode {
  blackground-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.lightmode header {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid rgb(221, 221, 223);
}

.lightmode input {
  border: 1px solid rgb(221, 221, 223);
}
