@import url("https://fonts.google.com/specimen/Nunito+Sans");

body {
  margin: 0;
  font-family: "Nunito Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.darkmode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.lightmode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
