.section {
  margin-top: 50px;
}

.section .mag-glass {
  position: absolute;
  top: 10px;
  left: 30px;
}

.section input {
  text-indent: 50px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0px;
}

@media only screen and (max-width: 400px) {
  .section {
    margin-top: 25px;
  }
}
